<style>
     
       img{
           width: 500px;
       }
    p{
      font-size: xx-large; 
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-feature-settings: ;
    }
    #ami{
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
        background-color: bisque;
    }
    #tumi{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: initial;
        font-size: xx-large;}
     .gg{
         color: blue;
     }
     .suhj{
        color: brown;
         background-color: chartreuse;
         font-style: oblique;
         font-family: cursive;
         
     }
     .suhj{
        border: 10px solid green;
        margin: 1%;
        padding: 20px 20px 20px 20px;
        width: 30%;
        display:inline-block;
    }
</style>